body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header {
  position: relative;
}
.container {
  margin: 0 auto;
  width: 940px;
}
.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat; 
  background-position: top right;
  
  position: absolute;
  top:0;
  right: 0; 
  width: 140px;
  padding-top: 8px;
  padding-right: 35px;
  
  text-align: right;
  font-size: 14px;
}
.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}
.menu-opcoes ul {
  font-size: 15px;
}
.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}
.menu-opcoes a {
  color: #003366;
}
.destaque {
  margin-top: 10px;
}
.menu-departamentos {
  clear: left;
  margin-top: 10px;
  padding-bottom: 10px;
}
.busca, .menu-departamentos {
  float: left;
  
  margin-right: 10px;
  width: 230px;
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase;
}
.busca h2,.busca form,.menu-departamentos h2 {
  margin: 10px;
}
.menu-departamentos li {
  background-color: #FFFFFF;
  margin-bottom: 1px;
  padding: 5px 10px;  
}
.menu-departamentos a {
  color:#333333;
  text-decoration: none;
}
.busca input {
  vertical-align: middle;
}
.busca input[type=search] {
  width: 170px;
}
