body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container {
  margin: 0 auto;
  width: 940px;
}
.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat; 
  background-position: top right;
  
  width: 140px;
  padding-top: 8px;
  padding-right: 35px;
  
  text-align: right;
  font-size: 14px;
}
.menu-opcoes ul {
  font-size: 15px;
}
.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}
.menu-opcoes a {
  color: #003366;
}
