.cores {
  position: relative;
  padding-top: 80px;
}
.cores label:after {
  position: absolute;
  top: 30px;
  display: block;
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
label[for=verde]:after {
  left:0;
  background-color: #33CC66;
}
label[for=rosa]:after {
  left:60px;
  background-color: #FF6666;
}
label[for=azul]:after {
  left: 120px;
  background-color: #6666FF;
}
.cores input:checked + label:after {
  border: 6px solid rgba(0,0,0,0.3);
}
.cores input[type=radio] {
  display:none;
}
.cores label img {
  display: block;
  max-width: 100%;
}
.cores input:not(:checked) + label img {
  display: none;
}
