/* body {
  width: 940px;
  margin: 0 auto;
  color: #333333;
  font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
} */
/* Antigo preenchimento do título */
/*
h1 { 
  padding: 10px;
  background-image: url(../img/sobre-background.jpg);
} */
article {
  margin: 10px 0;
  padding: 5px 0;
}
p {
  text-indent: 20px;
  margin-bottom: 5px;
}
p:first-letter {
  font-weight: bold;
}
h1 > p {
  text-indent: 0;
}
:not(p) + p:first-line, p:first-child:first-line {
  font-variant: small-caps;
}
h2 {
  font-size: 1.3em;
  margin-top: 30px;
  border-bottom: 2px solid #333333;
}
figure {
  padding: 15px;
  margin: 30px;
  border: 1px solid #ccc;
  background-color: #F2EDED;
  text-align: center;
}
figcaption {
  margin-top: 10px;
  font-style: italic;
}
ul {
  padding: 3px 0;
}
li {
  margin-bottom: 2px;
}
li:before {
  content: '- ';
  padding: 0 3px;
}
#centro-distribuicao {
  width: 550px;
  margin: 0 auto;
}
#familia-pelho {
  float: right;
  margin: 0 0 10px 10px;
}
